---
layout: default
---

<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-2">
          <h1 class="display-5 fw-bold">人工智能 原子服务</h1>
          <p class="col-md-12 fs-4">
              为视觉AI、自然语言AI、语音AI三个领域提供原子服务，提供眼睛、嘴巴、耳朵的仿生认知能力
          </p>
          <button class="btn btn-primary btn-lg" type="button">立即体验</button>
        </div>
      </div>
</div>
<div class="container py-4">
    <div class="row align-items-md-stretch">
        <div class="col-md-4">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>计算机视觉感知</h2>
            <p>提供人脸与人体识别、OCR文字识别、图像及视频处理的原子服务能力，可用于卡证类识别、发票识别、安防等领域</p>
            <button class="btn btn-outline-light" type="button">进入</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>自然语言感知</h2>
            <p>提供全面、领先的NLP基础模块能力，涵盖词、短语、句子等不同粒度的底层能力，为机器人提供底层服务能力</p>
            <button class="btn btn-outline-secondary" type="button">进入</button>
          </div>
        </div>

        <div class="col-md-4">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>语音情绪感知</h2>
            <p>提供语音识别、语音合成、语音情绪理解、语音分割等技术能力，让您的产品更好地理解用户</p>
            <button class="btn btn-outline-light" type="button">进入</button>
            </div>
        </div>
      </div>
    
</div>